{% extends "layouts/register.html" %} {% block content %}
<head>
  <title>Check In Member</title>
</head>
<header>
  <h1 class="title">checkIn Member</h1>
</header>

<main>
  {% if error %}

  <div class="errorViews">{{error}}</div>

  {% endif %}

  <form method="POST" action="">
    {% csrf_token %}

    <div class="container-request">
      <div class="container-LabelInput">
        <label for="name" class="label">Name:</label>
        <input
          type="text"
          class="names"
          id="name"
          name="name"
          placeholder="Name"
          required
        />
      </div>

      <div class="container-LabelInput">
        <label for="lastname" class="label">LastName:</label>
        <input
          type="text"
          class="lastnames"
          id="lastname"
          name="lastname"
          placeholder="LastName"
          required
        />
      </div>

      <div class="container-LabelInput">
        <label for="phone" class="label">Phone:</label>
        <input
          type="text"
          class="phones"
          id="phone"
          name="phone"
          placeholder="Phone....3213213214"
          required
        />
      </div>

      <div class="container-LabelInput">
        <label for="addres" class="label">Address:</label>
        <input
          type="text"
          class="address"
          id="addres"
          name="address"
          placeholder="Adress...Cra,calle"
          required
        />
      </div>

      <div class="container-LabelInput">
        <label for="dateInitial" class="label">Initial Date:</label>
        <input
          type="date"
          id="dateInitial"
          class="initDate"
          name="dateInitial"
          min="{{ today_date|date:'Y-m-d' }}"
          required
        />
      </div>

      <div class="container-LabelInput">
        <label for="dateFinal" class="label">Final Date:</label>
        <input
          type="date"
          id="dateFinal"
          class="finDate"
          name="dateFinal"
          required
        />
      </div>
    </div>

    <div class="container-btn">
      <!--<input class='btnEnviar' type='submit' value='Registrar'>-->
      <button type="submit" class="btnUpdate">
        <i class="fa-solid fa-floppy-disk"></i> Register
      </button>
    </div>
  </form>
</main>

{% endblock %}
