{% extends "layouts/register.html" %} {% block content %}
<head>
  <title>Crear Miembro</title>
</head>
<header>
  <h1 class="title">Crear Miembro</h1>
</header>

<main>
  {% if error %}

  <div class="errorViews">{{error}}</div>

  {% endif %}

  <form method="POST" action="">
    {% csrf_token %}

    <div class="container-request">
      <div class="container-LabelInput">
        <label for="name" class="label">Nombre:</label>
        <input
          type="text"
          class="names"
          id="name"
          name="name"
          placeholder="Nombre"
          required
        />
      </div>

      <div class="container-LabelInput">
        <label for="lastname" class="label">Apellido:</label>
        <input
          type="text"
          class="lastnames"
          id="lastname"
          name="lastname"
          placeholder="Apellido"
          required
        />
      </div>

      <div class="container-LabelInput">
        <label for="phone" class="label">Telefono:</label>
        <input
          type="text"
          class="phones"
          id="phone"
          name="phone"
          placeholder="Telefono....3213213214"
          required
        />
      </div>

      <div class="container-LabelInput">
        <label for="addres" class="label">Dirección:</label>
        <input
          type="text"
          class="address"
          id="addres"
          name="address"
          placeholder="Dirección...Cra,calle"
          required
        />
      </div>

      <div class="container-LabelInput">
        <label for="dateInitial" class="label">Fecha Inicial:</label>
        <input
          type="date"
          id="dateInitial"
          class="initDate"
          name="dateInitial"
          min="{{ today_date|date:'Y-m-d' }}"
          required
        />
      </div>

      <div class="container-LabelInput">
        <label for="dateFinal" class="label">Fecha Final:</label>
        <input
          type="date"
          id="dateFinal"
          class="finDate"
          name="dateFinal"
          required
        />
      </div>
    </div>

    <div class="container-btn">
      <!--<input class='btnEnviar' type='submit' value='Registrar'>-->
      <button type="submit" class="btnUpdate">
        <i class="fa-solid fa-floppy-disk"></i> Registrar
      </button>
    </div>
  </form>
</main>

{% endblock %}
