{% extends "layouts/register.html" %} {% block content %}
<head>
  <title>Update</title>
</head>

<header>
  <h1 class="title">Update</h1>
</header>

<main>
  {% if error %}

  <div class="errorViews">{{error}}</div>

  {% endif %}

  <form method="POST" action=" {% url 'updateUsers' user.id %}" id="formUser">
    {% csrf_token %}

    <div class="container-request">
      <input type="hidden" name="id" value="{{user.id}}" />

      <div class="container-LabelInput">
        <label for="name" class="label">Name:</label>
        <input
          type="text"
          class="names"
          id="name"
          name="name"
          value="{{user.name}}"
          required
        />
        <p></p>
      </div>

      <div class="container-LabelInput">
        <label for="lastname" class="label">LastName:</label>
        <input
          type="text"
          class="lastnames"
          id="lastname"
          name="lastname"
          value="{{user.lastname}}"
          required
        />
        <p></p>
      </div>

      <div class="container-LabelInput">
        <label for="phone" class="label">Phone:</label>
        <input
          type="text"
          class="phones"
          id="phone"
          name="phone"
          value="{{user.phone}}"
          required
        />
        <p></p>
      </div>

      <div class="container-LabelInput">
        <label for="addres" class="label">Address:</label>
        <input
          type="text"
          class="address"
          id="addres"
          name="address"
          value="{{user.address}}"
        />
        <p></p>
      </div>

      <div class="container-LabelInput">
        <label for="dateInitial" class="label">Initial Date:</label>
        <input
          type="date"
          id="dateInitial"
          class="initDate"
          name="dateInitial"
          value="{{user.dateInitial}}"
        />
        <p></p>
      </div>

      <div class="container-LabelInput">
        <label for="dateFinal" class="label">Final Date:</label>
        <input
          type="date"
          id="dateFinal"
          class="finDate"
          name="dateFinal"
          value="{{user.dateFinal}}"
        />
        <p></p>
      </div>
    </div>

    <div class="container-btn">
      <button type="submit" class="btnUpdate">
        <i class="fa-solid fa-floppy-disk"></i> Update
      </button>
    </div>
  </form>
</main>

{% endblock %}
