/* Header */
.active {
    font-size: 1.25rem;
}
/* Cards */
.row {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.col {
    width: 70%;
    max-width: 23%;
}

.card {
    width: 100%;
    max-height: 300px;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#dataTableGymDay .center {
    font-size: 1.2rem;
}

#dataTableGymDay td {
    font-size: 1.2rem;
}

#dataTableGymDay .btn {
    font-size: 1rem;
}

#dataTableGym .center {
    font-size: 1rem;
}

#dataTableGym .btn {
    font-size: 1rem;

}

/* footer */
footer {
    margin: auto;
}
footer .copy{
    font-size: 25px;
}

footer .redes_sociales{
    font-size: 35px;      
}