/* Header */
.active {
    font-size: 1.5rem;
}
/* Cards */
.col {
    width: 75%;
    max-width: 23%;
}

/* footer */
footer .copy{
    font-size: 25px;
}

footer .redes_sociales{
    font-size: 35px;      
}