/* Person Css */
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0), rgba(201,214,250,1));

}

main {
    width: 100%;
    
}

/*sección tablas*/
.title {
    text-align: center;
    margin-bottom: 30px;

}

.center {
    text-align: center !important;
    vertical-align: middle !important;
    /* font-size: 1.05rem ; */
}

/* arreglo del navbar del bootstrap*/
.navbar {
    padding: 2rem;
    margin-left: 4rem;
}

.collapse {
    font-size: 1.1rem;
    margin-left: 4rem;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-evenly;
    
}

.btn {
    margin-right: 30px;
    
}

/*Tablas*/

.tablas {
    max-width: 1190px;
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

footer .copy{
    font-size: 25px;
    font-weight: 600;
}

footer .redes_sociales{
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;    
}

footer .redes_sociales .linkedin {
    color: #0e76a8;
}

footer .redes_sociales .linkedin:hover {
    color: #10648b;
    transform: scale(1.1);
}

footer .redes_sociales .github {
    color: #171515;
}

footer .redes_sociales .github:hover {
    color: #272323;
    transform: scale(1.1);
}

/*Responsive*/
@media (min-width: 400px) {
    footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    footer .copy{
        font-size: 14px;
        
    } 
}

@media (min-width: 700px) {
    footer .copy{
        font-size: 20px;
    }

    footer .redes_sociales{
        font-size: 40px;               
    }
}

@media (min-width: 900px) {
    .bienvenida .contenedor-bienvenida p {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 927px){
    .collapse {
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 878px){
    .collapse {
        font-size: 0.9rem;
    }
    
}

@media screen and (max-width: 817px){
    .collapse {
        font-size: 0.89rem;
    }
    
}