{% extends "layouts/base.html" %} {% block content %}
<head>
  <title>Welcome</title>
</head>
<div class="row row-cols-1 row-cols-md-2 g-4 text-center p-3">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fs-1 fw-bold">{{ total_month }}</h5>
        <p class="card-text fs-3 text-success">Dinero del mes</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fs-1 fw-bold">{{ num_miembros }}</h5>
        <p class="card-text fs-3 text-info">Miembros</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fs-1 fw-bold">{{ miembros_mes }}</h5>
        <p class="card-text fs-3 text-warning">Miembros registrados este mes</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fs-1 fw-bold">3</h5>
        <p class="card-text fs-3 text-danger">Membresías</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fs-1 fw-bold">{{ total }}</h5>
        <p class="card-text fs-3 text-success">Dinero Total</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
