{% extends "layouts/register.html" %} {% block content %}
<head>
    <title>Register User Day</title>
</head>
<header>
        <h1 class="title">checkIn</h1>
</header>
<main>
    {% if error  %}

    <div class="errorViews">
        {{error}}
    </div>
        
    {% endif %}
        
    <form method="POST" action="" id="formUser">

            {% csrf_token %}
    
        <div class="container-request">

                {% comment %} <input type="hidden" name="id"> {% endcomment %}
                
            <div class= "form-control container-LabelInput">
                    <label for="name" class="label">Name:</label>
                    <input type="text" class="names" id="name" name="name" maxlength="50">
                    <p></p>
            </div>

            <div class="form-control container-LabelInput">
                    <label for="lastname" class="label">LastName:</label>
                    <input type="text" class="lastnames" id="lastname" name="lastname" maxlength="50">
                    <p></p>
            </div>

            <div class="form-control container-LabelInput">
                    <label for="phone" class="label">Phone:</label>
                    <input type="text" class="phones" id="phone" name="phone" maxlength="10" >
                    <p></p>
            </div>

            <div class="container-LabelInput">
                    <label for="dateInitial" class="label">Initial Date:</label>
                    <input type="date" id="dateInitial" class="initDate" name="dateInitial" min="{{ today_date|date:'Y-m-d' }}" max="{{ today_date|date:'Y-m-d' }}" >
                    <p></p>                    
            </div>

            <div class="form-control container-LabelInput">
                    <label for="price" class="label">Price:</label>
                    <input type="text" id="price" class="prices" name="price" >
                    <p class="priceModifiado"></p>
            </div>    
        </div>
    
        <div class="container-btn">
                
                {% comment %} <input class='btnUpdate' type='submit' value='Update'> {% endcomment %}
                <button type="submit" class='btnUpdate'><i class="fa-solid fa-floppy-disk"></i> Update</button>

        </div>
    </form>
</main>    
{% endblock %}