{% extends "layouts/register.html" %} {% block content %}
<head>
  <title>Actualizar Miembro Diario</title>
</head>

<header>
  <h1 class="title">Actualizar Miembro Diario</h1>
</header>

<main>
  {% if error %}

  <div class="errorViews">{{error}}</div>

  {% endif %}

  <form method="POST" action=" {% url 'updateUserDay' userDay.id %}"
  id="formUser">
    {% csrf_token %}

    <div class="container-request">
      <input type="hidden" name="id" value="{{userDay.id}}" />

      <div class="form-control container-LabelInput">
        <label for="name" class="label">Nombre:</label>
        <input
          type="text"
          class="names"
          id="name"
          name="name"
          value="{{userDay.name}}"
          required
        />
        <p></p>
      </div>

      <div class="form-control container-LabelInput">
        <label for="lastname" class="label">Apellido:</label>
        <input
          type="text"
          class="lastnames"
          id="lastname"
          name="lastname"
          value="{{userDay.lastname}}"
          required
        />
        <p></p>
      </div>

      <div class="form-control container-LabelInput">
        <label for="phone" class="label">Telefono:</label>
        <input
          type="text"
          class="phones"
          id="phone"
          name="phone"
          value="{{userDay.phone}}"
          required
        />
        <p></p>
      </div>

      <div class="form-control container-LabelInput">
        <label for="dateInitial" class="label">Fecha Inicial:</label>
        <input
          type="date"
          id="dateInitial"
          class="initDate"
          name="dateInitial"
          value="{{userDay.dateInitial}}"
        />
        <p></p>
      </div>

      <div class="form-control container-LabelInput">
        <label for="price" class="label">Precio:</label>
        <input
          type="text"
          id="price"
          class="prices"
          name="price"
          value="{{userDay.price}}"
        />
        <p class="priceModifiado"></p>
      </div>
    </div>

    <div class="container-btn">
      <button type="submit" class="btnUpdate">
        <i class="fa-solid fa-floppy-disk"></i> Actualizar</button>
    </div>
  </form>
</main>
{% endblock %}
